body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f4f8;
}
h2{
text-align: center;
}

.form-container {
    width: 300px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-container button {
    width: 45%;
    padding: 10px;
    font-size: 16px;
    margin: 10px 2.5%;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.login-btn {
    background-color: #28a745;
}

.reset-btn {
    background-color: #dc3545;
}
